.navmenuColumn {
    width: 196px;
    vertical-align: top;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: table-cell;
}

.navmenuButton {	
    margin: 5px;
    display: block;
}

.navmenuButton:hover {	
    cursor: pointer;
	opacity:0.4;
}

.navmenuImage {
    width: 176px;
    height: 48px;
}