.footerContainer {
    width: 100%;
    min-height: 100px;
    border-top: 2px solid black;
    background-image: url('../../images/footer/gradientreverse.png');
    background-repeat: repeat-x;
}
    

.footer {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}
    
.acknowledgement {
    font-size: 16px;
    display: block !important;
    padding-bottom: 20px;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }

.xhtml10Img {
    width: 88px;
    height: 31px;
}

.cssValidator {
    width: 88px;
    height: 31px;   
    border: 0;
}