#root {
    white-space: nowrap;
}

.contentColumn {
    vertical-align: top;
    display: table-cell;
    width: 100%;
    background-color: #C0C0C0;
    height: 500px;
}

.pageColumn {
    display: inline-block;
    background-color: #C0C0C0;
    height: 500px;
}